@-ms-viewport	{ width: device-width; }
@viewport		{ width: device-width; }

html, body, a, button, textarea, pre, h2, form, input, div
{	border: none;
	box-sizing: border-box;
	font-weight: normal;
	margin: 0;
	padding: 0;
	-webkit-transition: all .15s ease;
	-moz-transition: all .15s ease;
	-ms-transition: all .15s ease;
	-o-transition: all .15s ease;
	transition: all .15s ease; }

html, body
{	font-family: -apple-system, sans-serif;
	font-size: 0;
	line-height: 0;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-user-select: none;
	user-select: none; }

body { padding: 20px; }

a, a:visited
{	color: rgba(0,0,0,.6);
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	margin: 27px 0 0 130px;
	text-decoration: none;
	outline: none !important; }

a:hover { color: #000; }

h2
{	font-size: 26px;
	font-weight: bold;
	line-height: 34px;
	margin-bottom: 20px; }

div
{
        font-size: 16px;
        line-height: 20px; }

textarea
{	background-color: rgba(0,0,0,.03);
	border-radius: 5px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.05) inset, 0 1px 1px rgba(0,0,0,.05) inset, 0 2px 4px rgba(0,0,0,.04) inset;
	font-size: 16px;
	font-family: monospace;
	line-height: 20px;
	padding: 10px 14px;
	resize: vertical;
	height: 300px;
	width: 100%;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none; }

input[type=submit]
{	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 4px 16px 0 rgba(0,0,0,.1);
	position: absolute;
	font-size: 16px;
	margin-top: 20px;
	padding: 8px 14px 10px 14px;
	-webkit-appearance: none; }

input[type=submit]:active
{	box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 8px 0 rgba(0,0,0,.1);
	color: #000;
	margin-top: 21px; }

pre
{	background-color: rgba(0,0,0,.03);
	border-radius: 5px;
	padding: 10px 14px;
	font-size: 16px;
	line-height: 20px;
	margin-top: 50px;
	-webkit-user-select: text;
	user-select: text; }
